$primaryFont: 'Heebo', sans-serif;

$brandTan: #E5DDC8;
$brandTeal: #01949A;
$brandNavy: #004369;
$brandDarkNavy: #00273D;
$brandRed: #DB1F48;
$brandBlack: #001A29;
$brandWhite: #EBEBEB;

html{
    background-color: $brandDarkNavy;
}

body{
    font-family: $primaryFont!important;
    padding: 0px 20px;

    *{
        color: $brandBlack;
    }

}

h1{
    text-align: center;
    color: $brandWhite;
    font-size: 48px;
    font-weight: 700;
}

h2{
    font-size: 32px;
    font-weight: 700;
}

p{
    font-size: 18px;
}

.button{
    margin: 16px 0px;
    padding: 10px 20px;
    background-color: $brandNavy;
    color: $brandWhite;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    border: initial;
    border-radius: 10px;
    transition: all ease-in 0.3s;

    &:hover,
    &:focus{
        background-color: darken($brandNavy, 15%);
    }

}

.content-contain{
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

// Boards
/////////////////////////////////////////

#boards-contain{
    margin: 60px 0px 0px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 2%;

    @media all and (max-width: 768px) {
        flex-direction: column;
        gap: 60px;
    }

    @media all and (max-width: 479px) {
        gap: 30px;
    }

}

.board{
    width: 49%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    border: 1px solid $brandBlack;
    background-color: $brandWhite;

    .modal__content &{
        margin: 12px 0px 0px;
        width: 100%;
    }

    #boards-contain &{
        &[data-id="0"] {
            .board-cell{
                cursor: initial!important;
            }
        }
    }

    &[data-id="1"] {
        .board-cell{
            
            &.ship{
                background-color: $brandWhite!important;
            }

        }
    }

    .board-cell{
        padding-bottom: 100%;
        border: 1px solid $brandBlack;

        &.empty,
        &.ship{
            cursor: pointer;
        }

        &.ship{
            background-color: $brandTan!important;
        }

        &.miss,
        &.hit{
            cursor: initial;

        }

        &.miss{
            background-color: $brandNavy;
        }

        &.hit{
            background-color: $brandRed;
        }

        &.place-hover{
            background-color: $brandTeal;
        }

    }

    @media all and (max-width: 768px) {
        width: 100%;
    }

}

// Custom Modals
/////////////////////////////////////////
 
#placement-modal{
    
    .modal__container {
        min-width: 300px;
        text-align: center;
    }

}